/* Colors */
$black: #000
$gray: #f0f0f0
$bluelight: #c3d1d8
$graylight: #c6c6c6


/* Fonts */
$light: 300
$regular: 400
$meduim: 500
$semi-bold: 600
$bold: 700


/* Media queries*/

$sm_celular: 474px
$celular: 768px
$tablet: 992px
$desktop: 1024px
$desktop-md: 1231px
$desktop-lg: 1336px


/* Prefixes */

=box-sizing($box-sizing)
  -webkit-box-sizing: $box-sizing
  -moz-box-sizing: $box-sizing
  box-sizing: $box-sizing