/* Colors */
$black: #000
$gray: #f0f0f0
$bluelight: #c3d1d8
$graylight: #c6c6c6


/* Fonts */
$light: 300
$regular: 400
$meduim: 500
$semi-bold: 600
$bold: 700


/* Media queries*/

$sm_celular: max-width 474px
$celular: max-width 768px
$tablet: max-width 992px
$desktop: max-width 1024px
$desktop-md: max-width 1275px
$desktop-lg: max-width 1336px


/* Prefixes */

=box-sizing($box-sizing)
  -webkit-box-sizing: $box-sizing
  -moz-box-sizing: $box-sizing
  box-sizing: $box-sizing