.header-content
  max-width: 1350px
  min-height: 300px
  background: #2acc32
  margin-left: auto
  margin-right: auto

  .navbar-header
    background-color: #fff
    padding-top: 40px


    .navbar-tools
      background-color: #3cbbaa
      text-transform: uppercase
    
    .brand
      height: 53px
      background-color: #20aacc
      text-align: center

    .navbar-shopcart
      background-color: #12ccac
      text-align: right
    
    .navbar-menu
      background-color: #2acc32
      //text-align: center
      margin-top: 30px

      .items-menu
        text-transform: uppercase
        font-size: 14px
        letter-spacing: 0.57px
        margin-right: 4%

  .banner
    background:
      image: url("../../../../resources/images/Captura de Tela 2018-07-05 às 15.40.24.png")
      repeat: no-repeat
      size: 100%
      //position-y: 170px
    height: 300px