.header-content
  max-width: 1350px
  min-height: 300px
  margin-left: auto
  margin-right: auto

  .navbar-header
    background-color: #fff
    padding-top: 40px

    .hifen
      margin: 0 5px

    .itmes-tools
      font-size: 12px
      letter-spacing: 0.2em

    .navbar-tools
      text-transform: uppercase
      margin-left: 13px

    .brand
      height: 53px
      text-align: center

    .navbar-shopcart
      text-align: right
      
      .items-shopcart
        font-size: 12px
        text-transform: uppercase
        letter-spacing: 0.2em

        .total-items
          margin: 0 2px

      .icon-search, .icon-user
        margin: 0 15px

      .icon-user
        margin-right: 30px

    .navbar-menu
      margin-top: 30px
      display: flex
      justify-content: space-between
      margin-bottom: 27px

      .items-menu
          text-transform: uppercase
          font-size: 14px
          letter-spacing: 0.15em
          


        @media (max-width: $desktop)
          font-size: 12px

  .banner
    background:
      image: url("../../../../resources/images/Captura de Tela 2018-07-05 às 15.40.24.png")
      repeat: no-repeat
      size: 100% 380px
    height: 380px

    .caption-banner
      //background: darkorchid

      .caption-left
        //background: darkgrey
        width: 292px
        margin-top: 80px


        .first-caption
          font-size: 51.16px
          text-transform: uppercase
          font-weight: $bold

          @media (max-width: $desktop-md)
            font-size: 45px

        .second-caption
          font-size: 52.15px
          font-weight: $light
          text-transform: uppercase
          margin: 15px 0 15px -5px

          @media (max-width: $desktop-md)
            font-size: 46px


        .btn-banner
          width: 100%
          padding: 27px 60px
          font-size: 17.68px

      .caption-right
        //background-color: #888
        width: 376px
        text-align: right
        margin-top: 120px
        float: right


        .at
          //background: #a57c8e
          font-size: 36.06px
          text-align: center

          @media (max-width: $desktop-md)
            font-size: 28px

        .price
          //background: #1245bb
          display: block
          position: relative

          @media (max-width: $desktop-md)
            margin-top: 10px
          .type-money
            font-size: 74.76px
            font-weight: $bold
            float: left

            @media (max-width: $desktop-md)
              font-size: 55px
              float: none
              vertical-align: top
              top: 10px

          .value
            font-size: 147.52px
            font-weight: $bold
            float: left
            margin-top: 0

            @media (max-width: $desktop-md)
              font-size: 100px
              float: none

          .cents
            font-size: 74.76px
            font-weight: $bold
            margin-left: -20px
            top: 53px
            position: relative

            @media (max-width: $desktop-md)
              font-size: 55px
              top: 0
              margin-left: 0

    .content-bullets
      text-align: center
      margin-top: 40px
      .bullets
        display: inline-block
        width: 15px
        height: 15px
        border-radius: 100%
        background: rgb(255, 255, 255)
        margin: 0 5px
        opacity: 0.3

        &.first
          opacity: 0.15