.site-map
  .box-brands
    width: 60%
    display: inline-block
    float: left
    .brands-more-search
      .title-more-search
        background: #20aacc

  .box-categories
    width: 40%
    display: inline-block
    float: left
